player-connection-mode=Listen
player-connection-guid=2582971365
player-connection-debug=0
player-connection-project-name=Statek The Ga(Y)me
player-connection-ip=192.168.1.107
player-connection-ip=25.76.130.47
player-connection-ip=26.76.195.174
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
